[user]
  name = Aaron Lasseigne
  email = aaron.lasseigne@gmail.com
[core]
  pager = delta
  excludesfile = ~/.gitignore_global
  editor = nvim
[color]
  ui = true
[alias]
  br = branch
  ci = commit
  cim = commit -m
  co = checkout
  st = status
  cp = cherry-pick
  p = push
  l = pull
  lr = pull --rebase=merges
  d = diff
  dc = diff --cached
  dp = "!sh -c 'git d $1^..$1' -"
  lp = log --pretty=format:\"%Cred%h%Creset %ci - %cn %Cgreen%s%Creset\"
  la = "!sh -c 'git log --author=\"$1\"' -"
  lpa = "!sh -c 'git lp --author=\"$1\"' -"
  lpw = "!git log --pretty=format:\"%Cred%h%Creset %ci %cn %Cgreen%s%Creset\" --since=\"8 days ago\" && echo ''"
  lpwa = "!sh -c 'git log --pretty=format:\"%Cred%h%Creset %ci %cn %Cgreen%s%Creset\" --since=\"8 days ago\" --author=\"$1\" && echo \"\"' -"
  sl = stash list
  ss = stash push
  sp = stash pop --index
  sa = stash apply
  sd = stash drop
  search = log -m --reverse -S
  e = edit
  conflicts = "!git diff --name-only --diff-filter=U | uniq | xargs $EDITOR"
  sw = switch
  re = restore
  amend = commit --amend --no-edit
  gone = "!git restore --worktree --staged . && git clean --force -d"
[diff]
  noprefix = true
  renames = copies
  colorMoved = default
[push]
  autosetupremote = true
  default = simple
[help]
  autocorrect = 1
[stash]
  showPatch = true
[rerere]
  enabled = true
[github]
  user = AaronLasseigne
[credential]
  helper = osxkeychain
[init]
  defaultBranch = main
[delta]
  line-numbers = true
  side-by-side = true
[include]
  path = ~/.gitconfig.local
